.sectiunea_1 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.sectiunea_1 h2{
    margin-top: 55px;
    margin-right: 0;
    width: 780px;
    margin-bottom: 0;
}

.sectiunea_1 .dreapta img{
    display: block;
    width: 561px;
    height: 522px;  
    float: right;
}


.sectiunea_2 {
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.sectiunea_2 h2{
    margin-top: 55px;
    width: 780px;
    margin-bottom: 0;
}


.sectiunea_2 .stanga img{
    display: block;
    width: 561px;
    height: 522px;
    float: left;
}

footer .elem_footer{
    padding-top: 63px;
}

.sectiunea_2 .vezi{
    margin-top: 55px;
}



@media screen and (max-width: 625px){

.sectiunea_1 {
    grid-template-columns: 1fr !important;
}

.sectiunea_1 h2{
 width: 320px !important;
 text-align: justify;
}

.sectiunea_1 .dreapta {
    text-align: center !important;
    display: flex;
}

.sectiunea_1 .dreapta img{
    width: 80% !important;
    height: 40% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}


.sectiunea_1 h2{
    margin-top: 55px;
    margin-right: 0;
    margin-bottom: 0;
}



.sectiunea_2 {
    grid-template-columns: 1fr;
    gap: 20px;
    display: flex;
    flex-direction: column-reverse !important;
    grid-auto-flow: row;
}

.sectiunea_2 h2{
    width: 320px !important;
    text-align: justify;
}

.sectiunea_2 .stanga {
    display: flex;
}

.vezi{
    width: 170px;
    height: 55px;
    font-size: 17px !important;
    margin-top: 10px !important;
    margin-bottom: 40px !important;
}



.sectiunea_2 .stanga img{
    width: 80% !important;
    height: 40% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
}